html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FAFAFA;
    background-image: url(./calming-landscape-pixel-art.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: medium;
    background-attachment: fixed; /* keeps background  fixed when scrolling*/
    overflow-x: hidden;
}

.heading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    padding: 1rem 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: rgb(83, 158, 223);
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.heading-container h1 {
    font-size: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.heading-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.addBtn, .downloadBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.heading-container button:hover {
    background-color: #FAFAFA;
    border-radius: 20%;
}

.pages-container {
    margin-top: 100px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* responsive grid */
    gap: 3rem;
    align-items: start;
    justify-content: center;
}

.page {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.page:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.page-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.page-title {
  font-weight: lighter;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  cursor: text;
  border: none;
  background: transparent;
  color: #010101;
}

.page-title:empty:before {
  content: attr(placeholder);
  color: #999;
  pointer-events: none;
}


.page-actions button {
    border: none;
    padding: 2px 5px;
    margin: 5px 3px;
    background: transparent;
    cursor: pointer;
}

.page-actions button:hover {
    background-color: rgb(195, 220, 249);
    border-radius: 20%;
}

.page-body textarea {
    width: 100%;
    height: 120px;
    border: none;
    outline: none;
    font-size: medium;
    /* font-family:  sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: vertical;
}

body {
    overflow-y: auto;
    scroll-behavior: smooth;
}
